<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Train Timetable</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Route</th>
          <th scope="col">Departure Time</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Cost</th>
          <th scope="col">Seats Available</th>
        </tr>
      </thead>
      <tbody>
        <%= render @departures %>
        <%= will_paginate @departures, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </tbody>
    </table>
  </div>
</div>
