<h1>Sign In</h1>
<%= form_with url: sign_in_path do |f| %>
  <div class="mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" , placeholder: "user1@email.com" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Sign in" , class: "btn btn-primary" %>
  </div>
<% end %>
